<mat-card class="article-preview">
  <mat-card-header>
    <mat-card-title>{{article.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="article-preview__content">
    <img
      class="article-preview__img"
      src="{{article.urlToImage}}"
      (click)="openDetails()">
    <p class="article-preview__description">{{article.description}}</p>
  </mat-card-content>
  <button mat-raised-button
          color="primary"
          class="article-preview__button"
          (click)="openDetails()">
  More</button>
</mat-card>
