.article-preview {
  margin-bottom: 50px;
}

.article-preview__content {
  margin: 0 16px;
}

.article-preview__button {
  display: block;
  margin: 15px auto;
}

.article-preview__img {
  width: 100%;
}
