<div class="search-wrap">
  <form class="search-form"
        [formGroup]="searchForm"
        (ngSubmit)="getNewsByText()">
    <mat-form-field class="search-form__field">
      <mat-label>Search</mat-label>
      <input matInput
             placeholder="Eenter your search terms"
             formControlName="searchInput">
    </mat-form-field>
    <button mat-raised-button
            color="primary"
            class="search-form__button"
            type="submit">Go!</button>
  </form>
</div>

<div class="news-list">
  <app-news-card
    *ngFor="let article of articles"
    [article]="article">
  </app-news-card>
</div>

<mat-paginator
  *ngIf="articles"
  [length]="articles.length"
  #paginator
  [pageSize]="10"
  [pageSizeOptions]="[10]">
</mat-paginator>

