<div class="news-container">
  <div class="search-wrap">
    <form class="search-form"
          [formGroup]="searchForm"
          (ngSubmit)="getNewsByText()">
      <mat-form-field class="search-form__field">
        <mat-label>{{keyWord || 'Search'}}</mat-label>
        <input matInput
               placeholder="Eenter your search terms"
               formControlName="searchInput">
      </mat-form-field>
      <button mat-raised-button
              color="primary"
              class="search-form__button"
              type="submit">Go!
      </button>
      <button mat-raised-button
              color="primary"
              class="search-form__button"
              (click)="resetKeyWord()">Reset
      </button>
    </form>
  </div>


  <div class="news-list-wrap">
    <div *ngIf="articles.length >= 1; else noNews"
         class="news-list">
      <app-news-card
        *ngFor="let article of articles"
        [article]="article"
        [keyWord]="keyWord">
      </app-news-card>
    </div>

    <ng-template
        #noNews>I have nothing for you ʕ ᵔᴥᵔ ʔ
    </ng-template>
  </div>


  <mat-paginator
    *ngIf="articlesAmount"
    [length]="articlesAmount"
    [pageSize]="articlesPerPage"
    (page)="pageEvents($event)">

  </mat-paginator>

</div>
